*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    gap: 140px;
    margin: 16px;
    padding: 16px;
    border: 1px solid black;
    justify-content: center;
}
.canvas{
    width: 650px;
    height: 650px;
    border: 1px solid black;
}
.toolsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 23px;
    gap: 26px;
    border: 2px solid blue;
}



.square{
    border: 1px solid rgb(0, 255, 187);
    border-radius: 5px;
}
.row{
    display: flex;
    /* border: 1px solid yellow; */
}
